* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    color: #272D38;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.hero3 h2, .hero4 h2, .hero5 h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}
.hero1 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
}

.hero1 a {
    width: 140px;
    height: 35px;
    border-radius: 8px;
    background: #8EADD5;
    padding: 10px 24px ;
    color: #FFFFFF; 
}
.hero1 a button {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
}

/* hero2 */
.hero2 div div {
    height: 86px;
    border-radius: 8px;
    background: #F6F6F6;
}
.hero2 div div div {
    height: 38px;
}
.hero2 div div div img {
    height: 24px;
    padding: 1.54px, 0px, 1.46px, 0px;
}

/* hero5 */
.hero5 h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.hero5 h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.profiles div{
    height: 334px;
    border-radius: 20px;
    background: #F6F6F6;
} .profiles p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
}


@media (min-width: 768px) {
    .hero1 h1 {
        font-size: 64px;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: 0em;

    }
    .hero1 p {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
    }
    .hero1 img {
        width: 450px;
        height: 450px;

    }
}